.divider {
	margin-bottom:20px;
	border:0;
	border-bottom:1px solid #e5e5e5;
}
.event-card{
	display: block;
	margin:auto;
	width: 100%;
	max-width: 450px;
}
.event-card paper-card{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}
.event-card .card-content p{
	font-size: 16px;
	overflow: hidden;
}
.event-card .card-content iron-icon{
	float: left;
	margin-right: 8px;
}
