.btn-edit{
	float:right !important;
	box-shadow: none !important;
}
.event-panel i{
	float:left;
}
.btn-fab i{
	line-height: inherit;
}
.divider {
	margin-bottom:20px;
	border:0;
	border-bottom:1px solid #e5e5e5;
}
