label,
textarea,
input {
  display: block;
  width: 100%;
  border-radius: 0;
}
a {
  color: #414141;
}

a:hover {
text-decoration:none;
}
.alert-block li {
  list-style: none;
}
.post {
  margin-bottom: 1.5em;
}
.post-content {
  padding-top: 1em;
  font-size: 1.4em;
  line-height: 1.4em;
}
.post-functions {
  float: left;
}
.post-functions li {
  display: inline-block;
  float: left;
  margin-left: 5px;
}
