#nav-main{
  border-radius: 0;
}
#nav-main form{
  margin: 25px
}
.navbar-toggle{
  border: none;
  background-color: inherit !important;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
footer{
  background-color: #f4f4f4;
  min-height: 100px;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  position: absolute;
  bottom: 0;
}
footer div{
  display: block;
}
footer ul{
  padding-left: 0px;
}
footer #copyright{
  padding-top: 25px;
  border-bottom: 1px solid #e5e5e5;
}
footer#copyright li{
  display: inline-block;
  list-style-type: none;
  line-height: 26px;
  vertical-align: middle;
}
footer #footer-links a {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  vertical-align: middle;
  margin: 0 18px 0 0;
}
footer #footer-links li{
  display: inline-block;
  list-style-type: none;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
