.month_divider hr{
	background-color: black;
	height: 1px;
}
.panel-body i{
	float:left;
}
.panel-heading button{
	float:right;
	box-shadow: none !important;
}
#btn-new{
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 1000;
}
.btn-fab i{
	line-height: inherit;
}