<link href="../css/teststyle.css">
<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../bower_components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
<link href="../bower_components/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet">
<link href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
<!-- Meta and link tags -->
<meta name="theme-color" content="#f57c00">
<link rel="icon" href="../img/uk_logo.png" type="image/png" sizes="192x192">
